.movies{

    padding: 90px;
}


.movies-container{
    margin: 0 auto;
    
    width: 80%;
}

.movies-container h1{
 color: rgb(162, 162, 160);
 font-size: 40px;
}

.movies-result{
    background-color: rgb(235, 235, 235);
}

.movie{
    
    padding: 13px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    gap: 15px;
   align-items: center;
   border-bottom: 1px solid black;
}
 img{
    border-radius: 10px;
 }
.movie h3{
    color: rgb(176, 139, 139);
    font-size: 40px;
    padding: 8px;
     
}


.info {

    height:auto;
    padding: 40px;

}


.info-general{
   
    margin-bottom: 40px;
    
    top: 30px;
}

.info-general{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.vote{
    background-color: rgb(251, 201, 0);
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 20px;
}

.info-overview{
    padding: auto;
}


.info-overview p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}


.groupe-btn{
    padding-top: 20px;
}


.groupe-btn .add{
    padding: 9px;
    background-color: rgb(19, 100, 151);
    color: white;
    border-radius: 5px;
}

.groupe-btn .add:disabled{
    padding: 8px;
    background-color: rgb(133, 157, 171);
    color: white;
}

@media screen and (max-width:900px ) {
    .movies-container{
        
        
        width: 100%;
    }
    .movie{
        flex-direction: column;
        padding: 0px;
    }
    .info-overview{
        display: none;
    }
    .groupe-btn{
        padding-top: 5px;
    }
    .groupe-btn button{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .info-general{
   width: 100%;

        margin-bottom: 20px;
        
      
    }
  
    .info {

        height: auto;
        padding: 10px;
    
    }
    .movies-result{
        background-color: rgb(255, 255, 255);
    }
    
    
}